<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="reparenting.plugin.ruleProvider" name="Reparent rule provider" schema="schema/reparenting.plugin.ruleProvider.exsd"/>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            category="cea.plugin.reparent.viewCategory"
            class="fr.labri.reparenting.plugin.core.view.ParentView"
            id="cea.plugin.reparent.ParentView"
            name="ParentView">
      </view>
      <view
            category="cea.plugin.reparent.viewCategory"
            class="fr.labri.reparenting.plugin.core.view.ControlView"
            id="cea.plugin.reparent.ControlView"
            name="Reparent Board"
            restorable="true">
      </view>
      <category
            id="cea.plugin.reparent.viewCategory"
            name="Reparenting">
      </category>
   </extension>
</plugin>
